*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight:900;
}

/* .logo .menu button:hover{
    color: blue;
} */

.specific-color{
    color:#FD6E0A;
}
header{
    background-color: #FFF8F3;
    padding-top: 51px;
    background: url("../images/developer.png"), url("../images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
    background-position:top left,bottom right;
}

nav{
    width: 66%;
    max-width: 1140px;
    /* border: 1px solid brown; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;


}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18.28px 35px 19.3px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#banner{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight:600;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    color: black;
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

#banner .banner-content p{
    color: #757575;
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 30px;

}

#banner .banner-img img{
    max-width: 584px;
    vertical-align: middle;

}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}

.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    font-weight:400;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;

}

.about-info{
    display: flex;
    max-width: 782px;
    justify-content: space-around;
}
#about{
    padding-top: 130px;

}

#about .about-container{
     width: 66%;
   max-width: 1140px;
    /* border: 1px solid brown; */
    background-color: #FFF8F3;
    text-align: center;
    margin: 0 auto;
    padding: 131px 156px;;
}

.about-info .info-card p{
    line-height: 30px;
    font-size: 18px;
    color: #757575;
}

.about-info .info-card h4{
    line-height: 30px;
    

}

#skills, #resume{
    padding-top: 130px;
}

#skills .skills-container{
    width: 66%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}

.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid #a52a2a; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #0000001f;
}

.skill-box .skill-card img{
    width: 44px;
    margin: 30px;
    
}

.skill-box .skill-card h3{
    margin-bottom: 20px;
}

.skill-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.skill-card p{
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}

#resume .resume-container{
    width: 66%;
    max-width: 1140px;
    display: flex;
    margin: 113px auto 0;
    gap: 24px;
}
.resume-container .section-title{
    font-size: 30px;
    color: #474747;
    font-weight: bold;
    margin-bottom: 30px;

}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title{
    font-size: 25px;
    font-weight:bold;
    color: #474747;
    margin-bottom: 10px;
}

.resume-card .card-info{
     font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.resume-card .card-text{
     font-size: 16px;
    font-weight:400;
    color: #757575;
    margin-bottom: 30px;
}

.text-position{
    text-align: center;
    padding: 50px;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
    
}

footer .footer-container{
    width: 66%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
    
}

.footer-container .social{
    max-width: 562px;
}

.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container p{
     font-size: 16px;
    font-weight:400;
    color: #474747;
    margin-bottom: 30px;
}

.footer-container .icons a{
    margin-right: 24px;
}

.footer-container input[type="text"]{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}

.footer-container input[type="text"]{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}

.footer-container textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}




